PUBLIC_IP=127.0.0.1
FASTAPI_PORT=5000
VITE_API_BASE=/api
VUE_APP_API_URL=http://${PUBLIC_IP}:8000/api
CORS_ALLOWED_ORIGIN=http://${PUBLIC_IP}

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
KOREAUNIV_OPENAPI_CLIENT_ID=
KOREAUNIV_OPENAPI_CLIENT_SECRET=
KOREAUNIV_OPENAPI_TOKEN=

STUDENT_SYNC_URL=http://${PUBLIC_IP}:8000/api/account/sync_student_db
REPO_SYNC_URL=http://${PUBLIC_IP}:8000/api/repo/sync_repo_db
REPO_COMMIT_SYNC_URL=http://${PUBLIC_IP}:8000/api/repo/sync_repo_commit_db
REPO_ISSUE_SYNC_URL=http://${PUBLIC_IP}:8000/api/repo/sync_repo_issue_db
REPO_PR_SYNC_URL=http://${PUBLIC_IP}:8000/api/repo/sync_repo_pr_db
REPO_CONTRIBUTOR_SYNC_URL=http://${PUBLIC_IP}:8000/api/repo/sync_repo_contributor_db
COURSE_UPDATE_URL=http://${PUBLIC_IP}:8000/api/course/course_project_update

OPENAI_API_KEY=
GITHUB_TOKEN=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_CERT_URL=

ENABLE_BOARD_DRIVE_UPLOAD=False
GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON=
GOOGLE_DRIVE_FOLDER_ID=
