@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: auto;
  min-width: 1920px;
  height: calc(1080px-120px);
  height: calc(1080px-120px);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.vsc-initialized{
  background-color: rgb(252, 252, 252);
  min-width: 1920px !important;
  height: 1080px;
}
@media (min-width: 1920) {
	html {
		overflow-x: auto;
    width: 1920px;
	}
}
@media (hover: hover) {
  a:hover {
    background-color: #862633;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
